# R / RStudio
.Rhistory         
.RData            
.Rproj.user       
.Ruserdata        

# Raw or large files
raw_data/         
*.tar             
*.tar.gz          
*.cel             
*.RData           
*.rds             

# Editor folders
.vscode/          
